    * { 
    font-family: Arial, Helvetica, sans-serif; 
    
    } 

    /* transition */

.transition{
    background-color: hsl(180, 67%, 64%);
    border: solid 5px hsl(60, 100%, 51%);
    color: hsl(240, 100%, 50%);
}

.transition:hover{
    background-color: hsl(180, 67%, 54%);
    border: solid 5px hsl(60, 100%, 41%);
    color: hsl(240, 100%, 40%);
}

.transition:active{
    background-color: hsl(180, 67%, 44%);
    border: solid 5px hsl(60, 100%, 31%);
    color: hsl(240, 100%, 30%);
}


/* main interface */


.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px;


}

.Labels{
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: hsl(118, 100%, 50%);
}

.input-box{

    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    width: 150px;
    border-radius: 10px;
    border: none;


}

#price{
    width: 100px;
}

#tax{
    width: 90px;
}

#tax-result{
    width: 350px;
}


.inputBtn{
    border: none;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 25%;
    height: auto;
    background-color: hsl(36, 90%, 85%);
    color: hsl(0, 98%, 60%);
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}

.inputBtn:hover{
    background-color: hsl(36, 90%, 75%);
    color: hsl(0, 98%, 50%);

}

.inputBtn:active{
    background-color: hsl(36, 90%, 65%);
    color: hsl(0, 98%, 40%);

}
