
    * { 
    font-family: Arial, Helvetica, sans-serif; 
    
    } 

.scientific{
    background-color: hsl(45, 72%, 65%);
    color: hsl(272, 54%, 60%);
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
}

.scientific:hover{
    background-color: hsl(45, 72%, 55%);
    color: hsl(272, 54%, 50%);
}

.scientific:active{
    background-color: hsl(45, 72%, 45%);
    color: hsl(272, 54%, 40%);
}



    #scientific-keys{
        display: grid;
        grid-template-columns: repeat(8,1fr);
        padding: 10px;
        gap: 10px;
        row-gap: 20px;
        column-gap: 10px;


    }






